name: Ascii value generate with cowsay

on: push

jobs:

    build_jobs_1:
        runs-on: self-hosted
        timeout-minutes: 5
        steps:
            - name: Install cowsay program
              run: sudo apt-get install cowsay -y
  
            - name: Execute cowsay CMD
              run: cowsay -f dragon "Run for cover, I am DRAGON...RAWR" >> dragon.txt

            - uses: actions/upload-artifact@v4
              with:
                name: dragon-textfile
                path: dragon.txt

    build_jobs_2:
        runs-on: self-hosted
        needs: ["build_jobs_1"]
        steps:
            - uses: actions/download-artifact@v5
              with:
                name: dragon-textfile
  
            - name: Test file exists
              run: grep -i "dragon" dragon.txt

    build_jobs_3:
        runs-on: self-hosted
        needs: ["build_jobs_2"]
        steps:
            - uses: actions/download-artifact@v5
              with:
                name: dragon-textfile

            - name: Read file
              run: cat dragon.txt